<amexio-card-pane>
    <amexio-pane-header>
      查询条件
    </amexio-pane-header>
    <amexio-pane-body>
      <div class="row">
        <div class="col-lg-6">
          <amexio-text-input [fieldLabel]="'姓名'" name="name" #queryName="ngModel"
                             [(ngModel)]="name" 
                             [placeholder]="'请输入姓名'"
                             [enablePopOver]="false"
                             [iconFeedBack]="false"
                             [allowBlank]="false" 
                             (focus)="inputFocus()"
          >
          </amexio-text-input>
        </div>
        
        <div class="col-lg-6">
          <amexio-date-time-picker #queryBirthday="ngModel"
            [fieldLabel]="'出生日期'"
            [(ngModel)]="birthDay" 
            [timepicker]="false"
            [datepicker]="true"
            [dateFormat]="'yyyy-mm-dd'"
            [(ngModel)]="currentDate">
          </amexio-date-time-picker>
        </div>
        
        <div class="col-lg-6">
          <amexio-text-input [fieldLabel]="'联系方式'" name="contact" #queryContact="ngModel"
                             [placeholder]="'请输入联系方式'"
                             [(ngModel)]="contact" 
                             [enablePopOver]="false"
                             [iconFeedBack]="false"
                             [allowBlank]="false"
                             >
          </amexio-text-input>
        </div>
        <div class="col-lg-6">
          <amexio-text-input [fieldLabel]="'证件号码'" name="idNum" #queryIdNum="ngModel"
                             [placeholder]="'请输入证件号码'"
                             [(ngModel)]="idNum" 
                             [enablePopOver]="false"
                             [iconFeedBack]="false"
                             [allowBlank]="false" 
                             >
          </amexio-text-input>
        </div>
        <div class="col-lg-12"  style="margin:5px 20px 0px 4px" *ngIf="queryErrorText">
        <div class="col-lg-12 alert alert-danger" role="alert">
          {{queryErrorText}}
        </div>
      </div>
      </div>
      <div class="row">
        
      </div>
    </amexio-pane-body>
  
    <amexio-pane-action>
      <div style="float: right">
        <amexio-btn-group>
          <amexio-btn-group-action [label]="'查询'" [type]="'success'" (onClick)="Query()" ></amexio-btn-group-action>
          <amexio-btn-group-action [label]="'重置'" [type]="'danger'" (onClick)="Reset()"></amexio-btn-group-action>
        </amexio-btn-group>
      </div>
    </amexio-pane-action>
  </amexio-card-pane>
  <br>
     
  
  <amexio-card-pane [enableHeader]="true" [enableFooter]="false">
    <amexio-pane-header>
      查询结果{{queryCondtion}}
    </amexio-pane-header>
    <amexio-pane-body>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true"  >
            <amexio-west [contentalign]="'center'" [cClass]="'amexio-datapoints-visual'">
              <i class="fa fa-users fa-2x"></i>
            </amexio-west>
            <amexio-center [contentalign]="'center'">
              <span >{{matchTotal}}</span>
              <br>
              <span >结果总数</span>
            </amexio-center>
          </amexio-datapoints>
        </div>
        <div class="col-lg-2">
          <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true"  >
            <amexio-west [contentalign]="'center'" [cClass]="'amexio-datapoints-visual'">
              <i class="fa fa-user-o fa-2x"></i>
            </amexio-west>
            <amexio-center [contentalign]="'center'">
              <span >{{matchName}}</span>
              <br>
              <span >匹配姓名</span>
            </amexio-center>
          </amexio-datapoints>
        </div>
  
        <div class="col-lg-2">
          <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
            <amexio-west [contentalign]="'center'" [cClass]="'amexio-datapoints-visual'">
              <i class="fa fa-calendar fa-2x"></i>
            </amexio-west>
            <amexio-center [contentalign]="'center'">
              <span >{{matchBirth}}</span>
              <br>
              <span >匹配出生日期</span>
            </amexio-center>
          </amexio-datapoints>
        </div>
  
        <div class="col-lg-2">
          <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
            <amexio-west [contentalign]="'center'" [cClass]="'amexio-datapoints-visual'">
              <i class="fa fa-phone fa-2x"></i>
            </amexio-west>
            <amexio-center [contentalign]="'center'">
              <span >{{matchContact}}</span>
              <br>
              <span >匹配联系方式</span>
            </amexio-center>
          </amexio-datapoints>
        </div>
  
        <div class="col-lg-2">
          <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
            <amexio-west [contentalign]="'center'" [cClass]="'amexio-datapoints-visual'">
              <i class="fa fa-id-card-o fa-2x"></i>
            </amexio-west>
            <amexio-center [contentalign]="'center'">
              <span >{{matchId}}</span>
              <br>
              <span >匹配证件号码</span>
            </amexio-center>
          </amexio-datapoints>
        </div>
        <div class="col-lg-1"></div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12" id="patientData">
          <amexio-data-table
            [pageSize] = "100"
            [dataTableBindData] = "queryResult"
            [checkboxSelect]="false"
            [dataReader]="'data'"
             [cClass]="'gridStyle'" [tableDatacClass]="'amexio-grid-record query-patient-detail'" [tableTitlecClass]="'hide-table-title'" [tableHeadercClass]="' amexio-grid-header query-patient-detail'"
            [tableHeadercClass]="'amexio-grid-recordheader'">
            <amexio-data-table-column [dataIndex]="'name'"  [dataType]="'string'" [hidden]="false" [text]="'姓名'">
                <ng-template #amexioBodyTmpl let-row="row">
                    <div [class.HighLightMatch]="row.name == name"class="title ">{{row.name}}</div>
                 </ng-template>
               </amexio-data-table-column>
            <amexio-data-table-column [dataIndex]="'sex'" [dataType]="'string'" [hidden]="false" [text]="'性别'">
             <ng-template #amexioBodyTmpl let-row="row">
                <div class="title">{{row.sex}}</div>
              </ng-template>
            </amexio-data-table-column>
            <amexio-data-table-column [dataIndex]="'birthday'" [dataType]="'string'" [hidden]="false" [text]="'出生日期'">
                <ng-template #amexioBodyTmpl let-row="row">
                   <div [class.HighLightMatch]="row.birthday == birthDay" class="title ">{{row.birthday}}</div>
                 </ng-template>
               </amexio-data-table-column>
            <amexio-data-table-column [dataIndex]="'contact'" [dataType]="'string'" [hidden]="false" [text]="'联系方式'">
                <ng-template #amexioBodyTmpl let-row="row">
                   <div [class.HighLightMatch]="row.contact == contact" class="title ">{{row.contact}}</div>
                 </ng-template>
               </amexio-data-table-column>
            <amexio-data-table-column [dataIndex]="'idNum'" [dataType]="'string'" [hidden]="false" [text]="'证件号码'">
                <ng-template #amexioBodyTmpl let-row="row">
                   <div [class.HighLightMatch]="row.idNum == idNum" class="title ">{{row.idNum}}</div>
                 </ng-template>
               </amexio-data-table-column>
            <amexio-data-table-column [dataType]="'string'" [hidden]="false" [text]="'详情'">
                <ng-template #amexioBodyTmpl let-row="row">
                    <amexio-btn [label]="'详情'" [type]="'success'" [size]="'small'" [icon]="'fa fa-info-circle'" (click)="QueryDetail(row)" ></amexio-btn>
                 </ng-template>
               </amexio-data-table-column>
          </amexio-data-table>
  
        </div>
      </div>
  
    </amexio-pane-body>
  </amexio-card-pane>



  <!-- Modal -->
  <div class="modal fade" #myModal id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content amexio-card">
          <div class="modal-header card-header">
            <h5 class="modal-title" id="exampleModalLabel">信息确认</h5>
          </div>
          <div class="modal-body" style="padding: 20px">
              <i class="fa fa-exclamation"> </i>
              <span>点击“确认”进入详情页面并算一次阳性结果（同一条记录每天最多算一次），点击“取消”返回</span>
          </div>
          <div class="modal-footer">
            <amexio-btn-group>
              <amexio-btn-group-action [label]="'确认'" [type]="'success'"  [icon]="' fa fa-fw fa-check'" (onClick)="Confirm()" ></amexio-btn-group-action>
              <amexio-btn-group-action [label]="'取消'" [type]="'danger'"  [icon]="' fa fa-fw fa-close'"  (onClick)="Cancel()"></amexio-btn-group-action>
            </amexio-btn-group>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" #hosiptalResult id="hosiptalResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content  amexio-card">
            <div class="modal-body" >
                  <amexio-data-table
                    [pageSize] = "30"
                    [dataReader]="'data'"
                    [checkboxSelect]="false"
                    [dataTableBindData] = "queryDetails"
                    [cClass]="'gridStyle'" [tableDatacClass]="'amexio-grid-record'" [tableTitlecClass]="'hide-table-title'" 
                    [tableHeadercClass]="'amexio-grid-recordheader'">
                    <amexio-data-table-column [dataIndex]="'hospital'" [dataType]="'string'" [hidden]="false" [text]="'就诊医院'"></amexio-data-table-column>
                    <amexio-data-table-column [dataIndex]="'hospitalizedDate'" [dataType]="'string'" [hidden]="false" [text]="'就诊日期'">
                        <ng-template #amexioBodyTmpl let-row="row">
                           <div class="title ">{{row.hospitalizedDate | date:'yyyy-MM-dd'}}</div>
                         </ng-template>
                       </amexio-data-table-column>
                  </amexio-data-table>
                  <div style="float:right">
                    <amexio-btn-group>
                        <amexio-btn-group-action [label]="'关闭'" [type]="'success'"  [icon]="' fa fa-fw fa-check'" (onClick)="closedata()" ></amexio-btn-group-action>
                    </amexio-btn-group>
                  </div>
            </div>
          </div>
        </div>
      </div>